body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reader {
  width: 600px;
  /* height: 500px; */
}

.result {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.notification {
  background: #ffebee;
  color: #c62828;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
}
